/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _D 0
#define _Q 1
#define _N 2
#define _F 3
#define _L 4
#define _R 5

/ {
	combos {
	    compatible = "zmk,combos";
	    combo_num {
		timeout-ms = <75>;
		key-positions = <16 37>;
		bindings = <&mo _N>;
	    };

	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P  |  B  |         |  J  |  L  |  U  |  Y  |  ;  |  -  |
// | BKSP |  A  |  R  |  S  |  T  |  G  |         |  M  |  N  |  E  |  I  |  O  |  '  |
// | ESC  |  Z  |  X  |  C  |  D  |  V  |         |  K  |  H  |  ,  |  .  |  /  | RET |
//              | GUI | LWR | SHFT| ALT |         | CTRL| SPC | RSE | FN  |
                        bindings = <
   &kp TAB   &kp Q    &kp W    &kp F  &kp P     &kp B     &kp J     &kp L     &kp U     &kp Y   &kp SEMI &kp MINUS
   &kp BSPC  &kp A    &kp R    &kp S  &kp T     &kp G     &kp M     &kp N     &kp E     &kp I   &kp O    &kp APOS
   &kp ESC   &kp Z    &kp X    &kp C  &kp D     &kp V     &kp K     &kp H     &kp COMMA &kp DOT &kp FSLH &kp RET
                      &kp LGUI &mo _L &kp LSHFT &kp LALT  &kp RCTRL &kp SPACE &mo _R    &mo _F 
                        >;
                };

                qwerty_layer {
// -------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U  |  I  |  O  |  P  |  -   |
// | BKSP |  A  |  S  |  D  |  F  |  G  |         |  H  |  J  |  K  |  L  |  ;  |  '   |
// | ESC  |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M  |  ,  |  .  |  /  | RET  |
//              | GUI | LWR | SHFT| ALT |         | CTRL| SPC | RSE | SWP |
                        bindings = <
   &kp TAB  &kp Q &kp W    &kp E  &kp R     &kp T    &kp Y     &kp U     &kp I     &kp O   &kp P    &kp MINUS 
   &kp BSPC &kp A &kp S    &kp D  &kp F     &kp G    &kp H     &kp J     &kp K     &kp L   &kp SEMI &kp APOS
   &kp ESC  &kp Z &kp X    &kp C  &kp V     &kp B    &kp N     &kp M     &kp COMMA &kp DOT &kp FSLH &kp RET
                  &kp LGUI &mo _L &kp LSHFT &kp LALT &kp RCTRL &kp SPACE &mo _R    &mo _F
                        >;
                };

                num_layer {
// ------------------------------------------------------------------------------------
// | ALT  |     |     |     |     |     |         |     |  7  |  8  |  9  |  *  |  =  |
// | BKSP | SHFT|     |     | ███ |     |         | BKSP|  4  |  5  |  6  | RET |  +  |
// | CTRL |     |     |     |     |     |         | DEL |  1  |  2  |  3  |  /  |  -  |
//              |     | ███ |     |     |         | TAB |  0  |  .  |  ,  |
                        bindings = <
   &kp LALT  &trans    &trans &trans &trans &trans &trans   &kp KP_N7 &kp KP_N8  &kp KP_N9 &kp STAR     &kp EQUAL
   &kp BSPC  &kp LSHFT &trans &trans &trans &trans &kp BSPC &kp KP_N4 &kp KP_N5  &kp KP_N6 &kp RET      &kp PLUS
   &kp LCTRL &trans    &trans &trans &trans &trans &kp DEL  &kp KP_N1 &kp KP_N2  &kp KP_N3 &kp KP_SLASH &kp KP_MINUS
                       &trans &trans &trans &trans &kp TAB  &kp KP_N0 &kp KP_DOT &kp COMMA
                        >;
                };

                fn_layer {
// ------------------------------------------------------------------------------------
// | F1  | F2  | F3  | F4  | F5  | F6  |         | F7  | F8  | F9  | F10 | F11 | F12  |
// |PSCRN| PLAY| NXT | BRUP| VUP | MUTE|         |     | BT1 | BT2 | BT3 | BT4 | SHFT |
// | SWP |     | PRV | BRDN| VDN | CAPS|         |     |     |     |NUMLK| BT5 | CTRL |
//             | GUI | CTRL| SHFT| ALT |         |BTCLR| MENU|     | ███ |
// BT1 = iPad   BT2 = Desktop   BT3 = Laptop   BT4 = Phone   BT5 = ?
                        bindings = <
   &kp F1      &kp F2     &kp F3     &kp F4       &kp F5       &kp F6     &kp F7     &kp F8       &kp F9       &kp F10      &kp F11      &kp F12
   &kp PSCRN   &kp C_PP   &kp C_NEXT &kp C_BRI_UP &kp C_VOL_UP &kp C_MUTE &trans     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp RSHFT
   &tog _Q     &trans     &kp C_PREV &kp C_BRI_DN &kp C_VOL_DN &kp CAPS   &trans     &trans       &trans       &kp KP_NUM   &bt BT_SEL 4 &kp RCTRL
                          &kp LGUI   &kp LCTRL    &kp LSHFT    &kp LALT   &bt BT_CLR &kp K_APP    &trans       &trans
                        >;
                };


                lower_layer {
// ------------------------------------------------------------------------------------
// | ALT  |     |     |     |     |     |         |  6  |  7  |  8  |  9  |  0  |     |
// | SHFT | HOM | END | PGUP| NUM |     |         | LFT | DWN | UP  | RGT |  ~  |  `  |
// | CTRL |     |     | PGDN|     |     |         |     |  _  |  =  |  +  |  \  |     |
//              |     | ███ |     |     |         | CTRL| SHFT| ALT | GUI |
                        bindings = <
   &kp LALT  &trans   &trans  &trans    &trans &trans &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
   &kp LSHFT &kp HOME &kp END &kp PG_UP &trans &trans &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kb TILDE &kp GRAVE 
   &kp LCTRL &trans   &trans  &kb PG_DN &trans &trans &trans    &kp UNDER &kp EQUAL &kp PLUS  &kp BSLH  &trans 
                      &trans  &trans    &trans &trans &kp RCTRL &kp RSHFT &kp RALT  &kp RGUI
                        >;
                };

                raise_layer {
// ------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |         |     |     |     |     | INS | ALT |
// | DEL  |  !  |  @  |  #  |  $  |  %  |         |  ^  |  &  |  *  |  (  |  )  | SHFT|
// |      |  [  |  ]  |  {  |  }  |  .  |         |     |     | "|" |     |     | CTRL|
//              | GUI | CTRL| SHFT| ALT |         |     |     | ███ |     |
                        bindings = <
   &trans  &kp N1   &kp N2   &kp N3    &kp N4    &kp N5    &trans    &trans   &trans    &trans    &kp INS  &kp RALT
   &kp DEL &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS &kp STAR  &kp LPAR  &kp RPAR &kp RSHFT
   &trans  &kp LBKT &kp RBKT &kp LBRC  &kp RBRC  &kp DOT   &trans    &trans   &kp PIPE  &trans    &trans   &kp RCTRL
                    &kp LGUI &kp LCTRL &kp LSHFT &kp LALT  &trans    &trans   &trans    &trans
                        >;
                };

        };
};

